<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/fragments :: head"></div>

<body class="text-center">
<div th:replace="fragments/fragments :: header"></div>
<div th:replace="fragments/fragments :: nav"></div>


<div class="container" width="600px">
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <h3>About us</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus at beatae deleniti, eum hic incidunt obcaecati quos
                repellat. Alias animi aperiam aut earum eligendi enim ipsa minima molestiae molestias nam officia perspiciatis quasi
                repellat repudiandae, similique temporibus ut velit veniam. Ab accusamus accusantium animi architecto aut commodi
                cum dolor, ex hic impedit in iste itaque iusto libero magnam mollitia nobis non obcaecati odit praesentium quibusdam,
                quo quos soluta sunt totam velit vero voluptatem? A ab alias assumenda culpa cum, cumque deserunt doloribus eius id
                inventore ipsa libero natus nobis nostrum quibusdam quisquam temporibus tenetur voluptas. Officiis quae suscipit velit
                veniam.</p>
        </div>
        <div class="col"></div>
    </div>
</div>




<div th:replace="fragments/fragments :: footer"></div>
</body>
</html>