<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/fragments :: head"></div>

<body class="text-center">

<div th:replace="fragments/fragments :: header"></div>
<div th:replace="fragments/fragments :: nav"></div>


<div>
  <h1>
    Welcome!
  </h1>
</div>
<hr>


<!---- TOP10-ITEMS front page  ---->
<div th:replace="/fragments/fragments :: table"></div>









<div th:replace="/fragments/fragments :: footer"></div>

</body>
</html>