<!DOCTYPE html>
<html
        lang="en"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
>
<div th:replace="fragments/fragments :: head"></div>
<body class="text-center">
<div th:replace="fragments/fragments :: header"></div>
<div th:replace="fragments/fragments :: nav"></div>

<hr>





<!---///////TEST//////--->
<h1>Your Shoppingcart: </h1>

<div>
  <h3 th:text="${cartIsEmpty}" ></h3>
</div>

<table th:hidden="${hideWhenCartIsEmpty}">
  <tr>
    <th>Product </th>
    <th> Name</th>
    <th> Description</th>
    <th> Price</th>
    <th>Quantity</th>
  </tr>

  <tr th:each="cartItem : ${cart}">
    <td><img th:src="@{${'/img/cars/' + cartItem.productcode + '.png' }}" width="50px"></td>
    <td th:text="${cartItem.productname}"></td>
    <td th:text="${cartItem.productdescription}" width="600px"></td>
    <td th:text="${cartItem.msrp}"></td>
    <td th:text="${cartItem.quantity}"></td>
     <td>
       <a th:href="@{'/dec/' + ${cartItem.productcode}}" class="btn btn-primary">-</a>
       <a th:href="@{'/inc/' + ${cartItem.productcode}}" class="btn btn-primary">+</a>
     </td>



  </tr>

  <tr>
    <td></td>
    <td></td>

    <td align="right" class="mt-4">Total sum:</td>&nbsp;&nbsp;&nbsp;&nbsp;
    <td th:text="${totPrice}" > </td>
    <td align="left">$ </td>
  </tr>

</table>

<div class="container">
  <div class="row">
    <div class="col justify-content-left">
      <a th:href="@{'/emtyCart'}" class="btn btn-danger font-size-small" th:hidden="${hideWhenCartIsEmpty}"  >EMPTY CART</a>
    </div>
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>

    <div class="col">
    <a th:href="@{'/new'}" class="btn btn-warning font-size-small" th:hidden="${hideWhenCartIsEmpty}" >Checkout</a>
    </div>


    <div class="col"></div>
  </div>
</div>


<!---///////TEST//////--->







<div th:replace="fragments/fragments :: footer"></div>
</body>
</html>