<!DOCTYPE html>
<html
        lang="en"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
>
<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>cart.html</title>
</head>
<body>
<div th:replace="fragments/fragments :: header"></div>
<div th:replace="fragments/fragments :: nav"></div>
<div>
  <h1>
    View: cart.html | Model: Shoppingcaart
  </h1>
</div>
<hr>





<!---///////TEST//////--->
<h1>Your Shoppingcart: </h1>


<table>
  <tr>
    <th>Product </th>
    <th> Name</th>
    <th> Description</th>
    <th> Price</th>
    <th>Quantity</th>
  </tr>

  <tr th:each="cartItem : ${cart}">
    <td><img th:src="@{${'/img/cars/' + cartItem.productcode + '.png' }}" width="50px"></td>
    <td th:text="${cartItem.productname}"></td>
    <td th:text="${cartItem.productdescription}" width="600px"></td>
    <td th:text="${cartItem.msrp}"></td>
    <td th:text="${cartItem.quantity}"></td>
     <td>
       <a th:href="@{'/dec/' + ${cartItem.productcode}}" class="btn btn-primary">-</a>
       <a th:href="@{'/inc/' + ${cartItem.productcode}}" class="btn btn-primary">+</a>
     </td>



  </tr>
  <tr>

    <td></td>
    <td></td>
    <td align="right">Total Price:</td>&nbsp;&nbsp;&nbsp;&nbsp;
    <td th:text="${totPrice}" class="text-bold"></td>
    <td> </td>
  </tr>

</table>
<div>
  <h3 th:text="${cartIsEmpty}" ></h3>
  <h3 th:text="${cartIsNotEmpty}" ></h3>
</div>
<div>
  <a th:href="@{'/emtyCart'}" class="btn btn-danger font-size-small" >EMPTY CART</a>
  <a th:href="@{'/new'}" class="btn btn-warning font-size-small" >Checkout</a>
</div>


<!---///////TEST//////--->







<div th:replace="fragments/fragments :: footer"></div>
</body>
</html>